In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')

In [31]:
dataset = pd.read_csv('Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')
dataset.sample(20)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
18851,2014,2014,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Gender,Female,GEN,FEMALE
13715,2011,2011,MD,Maryland,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,"(39.29058096400047, -76.60926011099963)",PA,PA1,Q045,VALUE,24,Age (years),55 - 64,AGEYR,AGEYR5564
31790,2014,2014,VT,Vermont,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.62538123900049, -72.51764079099962)",PA,PA1,Q047,VALUE,50,Education,College graduate,EDU,EDUCOGRAD
23588,2014,2014,NC,North Carolina,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(35.466220975000454, -79.15925046299964)",PA,PA1,Q047,VALUE,37,Age (years),25 - 34,AGEYR,AGEYR2534
5211,2013,2013,DE,Delaware,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(39.008830667000495, -75.57774116799965)",PA,PA1,Q044,VALUE,10,Income,"$35,000 - $49,999",INC,INC3550
40223,2015,2015,IN,Indiana,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(39.766910452000445, -86.14996019399968)",PA,PA1,Q044,VALUE,18,Race/Ethnicity,Asian,RACE,RACEASN
42756,2015,2015,NY,New York,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in muscle-strengt...,NaN,Value,...,"(42.82700103200045, -75.54397042699964)",PA,PA1,Q046,VALUE,36,Gender,Male,GEN,MALE
31274,2011,2011,VT,Vermont,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(43.62538123900049, -72.51764079099962)",PA,PA1,Q043,VALUE,50,Race/Ethnicity,Non-Hispanic Black,RACE,RACEBLK
4304,2012,2012,CT,Connecticut,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(41.56266102000046, -72.64984095199964)",OWS,OWS1,Q036,VALUE,9,Age (years),35 - 44,AGEYR,AGEYR3544
11158,2012,2012,KS,Kansas,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(38.34774030000045, -98.20078122699965)",PA,PA1,Q047,VALUE,20,Education,Some college or technical school,EDU,EDUCOTEC
16470,2011,2011,MS,Mississippi,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(32.745510099000455, -89.53803082499968)",PA,PA1,Q047,VALUE,28,Race/Ethnicity,Non-Hispanic Black,RACE,RACEBLK
10682,2013,2013,IA,Iowa,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,"(42.46940091300047, -93.81649055599968)",PA,PA1,Q045,VALUE,19,Education,High school graduate,EDU,EDUHSGRAD
21537,2014,2014,NJ,New Jersey,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(40.13057004800049, -74.27369128799967)",OWS,OWS1,Q037,VALUE,34,Gender,Male,GEN,MALE
51712,2016,2016,WV,West Virginia,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(38.66551020200046, -80.71264013499967)",OWS,OWS1,Q036,VALUE,54,Race/Ethnicity,Hispanic,RACE,RACEHIS
34745,2011,2011,WY,Wyoming,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Income,"$50,000 - $74,999",INC,INC5075
23804,2011,2011,ND,North Dakota,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,"(47.47531977900047, -100.11842104899966)",PA,PA1,Q045,VALUE,38,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
16300,2011,2011,MS,Mississippi,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(32.745510099000455, -89.53803082499968)",FV,FV1,Q018,VALUE,28,Age (years),35 - 44,AGEYR,AGEYR3544
47465,2015,2015,NJ,New Jersey,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(40.13057004800049, -74.27369128799967)",OWS,OWS1,Q037,VALUE,34,Education,College graduate,EDU,EDUCOGRAD
11730,2011,2011,KY,Kentucky,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in muscle-strengt...,NaN,Value,...,"(37.645970271000465, -84.77497104799966)",PA,PA1,Q046,VALUE,21,Income,Data not reported,INC,INCNR
49922,2016,2016,RI,Rhode Island,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(41.70828019300046, -71.52247031399963)",OWS,OWS1,Q037,VALUE,44,Age (years),25 - 34,AGEYR,AGEYR2534

In [ ]:
dataset.info()

In [3]:
dataset.describe(include = 'all')

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
count,53392.000000,53392.000000,53392,53392,53392,53392,53392,53392,0.0,53392,...,52384,53392,53392,53392,53392,53392.000000,53392,53392,53392,53392
unique,NaN,NaN,55,55,1,3,3,9,NaN,1,...,54,3,3,9,1,NaN,6,28,6,28
top,NaN,NaN,MT,Hawaii,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(34.865970280000454, -111.76381127699972)",PA,PA1,Q037,VALUE,NaN,Race/Ethnicity,High school graduate,RACE,OVERALL
freq,NaN,NaN,1008,1008,53392,26628,26628,8960,NaN,53392,...,1008,26628,26628,8960,53392,NaN,15256,1907,15256,1907
mean,2013.281465,2013.281465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30.282215,NaN,NaN,NaN,NaN
std,1.693300,1.693300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.821318,NaN,NaN,NaN,NaN
min,2011.000000,2011.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,2012.000000,2012.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,17.000000,NaN,NaN,NaN,NaN
50%,2013.000000,2013.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30.000000,NaN,NaN,NaN,NaN
75%,2015.000000,2015.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,NaN
max,2016.000000,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,78.000000,NaN,NaN,NaN,NaN

In [4]:
dataset.shape

(53392, 33)

In [5]:
dataset.isnull().sum()

YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit               53392
Data_Value_Type                   0
Data_Value                     5046
Data_Value_Alt                 5046
Data_Value_Footnote_Symbol    48346
Data_Value_Footnote           48346
Low_Confidence_Limit           5046
High_Confidence_Limit          5046
Sample_Size                    5046
Total                         51485
Age(years)                    41954
Education                     45764
Gender                        49578
Income                        40043
Race/Ethnicity                38136
GeoLocation                    1008
ClassID                           0
TopicID                           0
QuestionID                        0
DataValueTypeID                   0
LocationID                        0
StratificationCategory1           0
Stratification1                   0
StratificationCategoryId1         0
StratificationID1                 0
dtype: int64

In [8]:
dataset.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [12]:
dataset[['Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity']].sample(10)

,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity
32098,33.7,39.5,1699.0,NaN,NaN,Some college or technical school,NaN,NaN,NaN
51928,27.3,29.8,7145.0,Total,NaN,NaN,NaN,NaN,NaN
27817,31.7,39.2,1465.0,NaN,35 - 44,NaN,NaN,NaN,NaN
16430,21.1,27.6,1006.0,NaN,35 - 44,NaN,NaN,NaN,NaN
32560,32.4,49.7,357.0,NaN,NaN,NaN,NaN,NaN,2 or more races
35668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hawaiian/Pacific Islander
40556,26.1,32.2,1201.0,NaN,NaN,NaN,NaN,NaN,Hispanic
49911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hawaiian/Pacific Islander
12519,21.6,42.7,183.0,NaN,NaN,NaN,NaN,NaN,Hispanic
32045,15.8,24.1,710.0,NaN,25 - 34,NaN,NaN,NaN,NaN

In [30]:
# seperating the independent variables
# value for 2016

x = dataset[dataset['StratificationID1']== 'OVERALL'][['LocationDesc','Data_Value', 'Question', "YearStart" ]]
x = x[x['Question']=='Percent of adults aged 18 years and older who have obesity']
x = x[x['YearStart'] == 2014 ][['Data_Value']].values
x

array([[33.5],
       [29.7],
       [28.9],
       [35.9],
       [24.7],
       [21.3],
       [26.3],
       [30.7],
       [21.7],
       [26.2],
       [30.5],
       [28. ],
       [22.1],
       [28.9],
       [29.3],
       [32.7],
       [30.9],
       [31.3],
       [31.6],
       [34.9],
       [28.2],
       [29.6],
       [23.3],
       [30.7],
       [27.6],
       [35.5],
       [30.2],
       [26.4],
       [28.9],
       [30.2],
       [27.7],
       [27.4],
       [26.9],
       [28.4],
       [27. ],
       [29.7],
       [32.2],
       [32.6],
       [33. ],
       [27.9],
       [30.2],
       [28.3],
       [27. ],
       [32.1],
       [29.8],
       [31.2],
       [31.9],
       [25.7],
       [24.8],
       [28.5],
       [27.3],
       [35.7],
       [31.2],
       [29.5]])

In [18]:
dataset['Question'][1]

'Percent of adults aged 18 years and older who have obesity'

In [24]:
dataset['YearStart'].max()

2016