## Car Sales Regression implemention in R

In [1]:
dataset <- read.csv('car sales.csv')
head(dataset, 5)

  Brand         Price Body      Mileage EngineV Engine.Type Registration Year
1 BMW            4200 sedan     277     2.0     Petrol      yes          1991
2 Mercedes-Benz  7900 van       427     2.9     Diesel      yes          1999
3 Mercedes-Benz 13300 sedan     358     5.0     Gas         yes          2003
4 Audi          23000 crossover 240     4.2     Petrol      yes          2007
5 Toyota        18300 crossover 120     2.0     Petrol      yes          2011
  Model
1 320
2 Sprinter 212
3 S 500
4 Q7
5 Rav 4

In [2]:
summary(dataset)

           Brand         Price               Body         Mileage
 Audi         :457   Min.   :   600   crossover: 901   Min.   :  0.0
 BMW          :694   1st Qu.:  6999   hatch    : 285   1st Qu.: 86.0
 Mercedes-Benz:921   Median : 11500   other    : 433   Median :155.0
 Mitsubishi   :327   Mean   : 19419   sedan    :1649   Mean   :161.2
 Renault      :469   3rd Qu.: 21700   vagon    : 402   3rd Qu.:230.0
 Toyota       :541   Max.   :300000   van      : 675   Max.   :980.0
 Volkswagen   :936   NA's   :172
    EngineV       Engine.Type   Registration      Year          Model
 Min.   : 0.600   Diesel:2019   no : 398     Min.   :1969   E-Class: 199
 1st Qu.: 1.800   Gas   : 613   yes:3947     1st Qu.:2003   A6     : 172
 Median : 2.200   Other : 154                Median :2008   Vito   : 171
 Mean   : 2.791   Petrol:1559                Mean   :2007   Kangoo : 146
 3rd Qu.: 3.000                              3rd Qu.:2012   Camry  : 134
 Max.   :99.990                              Max.   :2016   Caddy  : 119
 NA's   :150                                                (Other):3404

In [3]:
names(dataset)

[1] "Brand"        "Price"        "Body"         "Mileage"      "EngineV"
[6] "Engine.Type"  "Registration" "Year"         "Model"

In [7]:
# Droping the Model column

dataset <- subset(dataset, select = c('Brand', 'Price', 'Body', 'Mileage', 'EngineV', 'Engine.Type', 'Registration', 'Year'))
head(dataset,5)

  Brand         Price Body      Mileage EngineV Engine.Type Registration Year
1 BMW            4200 sedan     277     2.0     Petrol      yes          1991
2 Mercedes-Benz  7900 van       427     2.9     Diesel      yes          1999
3 Mercedes-Benz 13300 sedan     358     5.0     Gas         yes          2003
4 Audi          23000 crossover 240     4.2     Petrol      yes          2007
5 Toyota        18300 crossover 120     2.0     Petrol      yes          2011

In [ ]:
summary