In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')

In [7]:
dataset = pd.read_csv('Life Expectancy Data.csv')
dataset.sample(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1017,Ghana,2008,Developing,63.0,275.0,41,1.78,161.010644,93.0,82,...,92.0,4.85,93.0,2.2,1224.415540,2329864.0,7.5,7.4,0.530,9.8
1884,Niger,2008,Developing,56.0,272.0,52,0.12,40.378357,NaN,1317,...,68.0,6.76,67.0,1.3,354.818600,15228525.0,11.2,11.0,0.298,4.0
1709,Micronesia (Federated States of),2005,Developing,67.9,178.0,0,1.90,0.000000,91.0,0,...,94.0,12.11,94.0,0.1,NaN,NaN,0.2,0.2,0.617,10.7
838,Equatorial Guinea,2011,Developing,56.2,344.0,3,10.99,1493.051277,NaN,0,...,39.0,3.29,41.0,7.7,21451.886170,99429.0,8.9,8.8,0.580,9.2
1387,Kiribati,2006,Developing,65.0,212.0,0,0.76,18.194579,88.0,0,...,86.0,1.93,86.0,0.1,1151.555618,9426.0,0.2,0.1,0.576,12.1
2299,Sierra Leone,2013,Developing,54.0,47.0,23,0.01,1.321464,92.0,15,...,92.0,11.59,92.0,0.8,71.818700,692279.0,7.7,7.6,0.413,9.3
1169,Hungary,2000,Developed,71.7,193.0,1,12.22,75.362514,NaN,1,...,99.0,7.60,99.0,0.1,4623.467120,121971.0,2.3,2.3,0.761,13.9
180,Bahrain,2011,Developing,76.1,76.0,0,1.66,197.773468,99.0,0,...,99.0,3.40,99.0,0.1,2281.124200,NaN,6.1,6.0,0.812,14.4
1877,Niger,2015,Developing,61.8,22.0,49,NaN,0.000000,65.0,7693,...,65.0,NaN,65.0,0.4,358.997310,19896965.0,9.6,9.4,0.351,5.4
205,Bangladesh,2002,Developing,66.3,164.0,207,0.01,0.397229,NaN,3484,...,83.0,2.59,83.0,0.1,4.613575,1366667.0,2.5,21.1,0.476,7.7

In [4]:
dataset.describe(include = 'all')

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938,2938.000000,2938,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,...,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
unique,193,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Tajikistan,NaN,Developing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,16,NaN,2426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2007.518720,NaN,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,...,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,NaN,4.613841,NaN,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,...,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,NaN,2000.000000,NaN,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,...,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,NaN,2004.000000,NaN,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,...,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,NaN,2008.000000,NaN,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,...,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,NaN,2012.000000,NaN,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,...,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,NaN,2015.000000,NaN,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,...,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [5]:
dataset.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64